.banner {
  background-image: url('strawberries_on_black.jpeg');
  background-attachment: fixed;
  background-size: 100% 100%;
  width:100%;
  text-align: center;
  font-size: 400%;
}
body {
  background-color: black; 
  color: white;
}
a:link {
  color: powderblue;
  }
a:visited {
  color: red;
  }
h1   {text-align:center;}
p    {text-align:left;}